﻿@charset "utf-8";

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
h1{
  text-align:center;
}

p{
  margin-top:5px;
  margin-bottom:5px;
}
/*--------------------------------------------------LCD.html Start-----------------------------------------------------*/
input, button{
  margin-top:5px;
  margin-bottom:5px;
}

h3{
  margin-top:20px;
  margin-bottom:5px;
}

.disp-none {
  display: none;
}
/*--------------------------------------------------LCD.html End---------------------------------------------------------*/
/*--------------------------------------------------DataBase.html Start--------------------------------------------------*/
.DB div{
	border: solid 1px #000000;
	border-radius:20px;
	padding:10px;
	margin:10px;
}
.DB h3{
	text-align:center;
}
.DB #L_D{
	margin:auto;
	text-align:center;
	width:260px;
}
.DB Table,
.DB Table input{
	width:100%;
}
.DB Table td{
	padding:5px;
	border-bottom:solid 1px #000000;
}
.DB Table #T_H td{
	text-align:center;
	font-weight:bold;
	background-color:#000000;
	color:#ffffff;
}
/*--------------------------------------------------DataBase.html End--------------------------------------------------*/